@mixin main-style {
    width: 100%;
    position: absolute;
}

.main {
    @include main-style;
    right: 0;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    transition: 0.5s;
    z-index: 2;

    video {
        @include main-style;
        top: 0;
        left: 0;
        height: 100%;
        object-fit: cover;
        opacity: 0.8;
      }
  }
  
  .main.active {
    right: 300px;
  }